{% extends 'book/base.html' %}



{% block body %}
{%if isManager%}

<div class="col-md-12 text-center">
<div>
<span>
 <a href="{% url 'book:book-add' %}" class="btn btn-lg" role="button" style="text-align: center;color: cornsilk;background-color: black;">Add Book</a>  
 </span> 

  
<span>
 <a href="{% url 'book:customers_web' %}" class="btn btn-lg" role="button" style="text-align: center;color: cornsilk;background-color: black;">Add/Remove Managers</a>  
 </span> 

 <br>
<br>   
</div>       
  

</div>



{%endif%}


    {% if all_books %}

    <div class = "center">
        

        <ul style="list-style: none;">
            {% for book in all_books %}

            <li style="float: left;" class="col-md-4">
                <div class="container">
                <div class="thumbnail mx-auto"  style="width: 30rem;background-color:1px solid black;border-radius: 0%;background-color: coral;">
                        <div class="caption">
                               <span>
                                <a href="#" style="color: black;font-size: medium;">
                                    <button class="btn btn-small" style="text-align: center;color: cornsilk;background-color: black;">{{book.title}}</button>
                                </a>
                                
                                </span>
                           
                        </div>
                        
                        <a href="/book/detail/{{book.id}}" class="btn btn-primary btn-sm" role="button">View Details</a>   
                        
                        {% if isManager %}
                        
                        <button  class="btn btn-s btn-dark " data-toggle="modal" data-target="#updatebookmodal" data-booktitle="{{book.title}}" data-bookisbn="{{book.id}}" data-bookcopies="{{book.number_of_books}}">Update the Book Stock</button>
                        {% endif %}
                        <button  class="btn btn-s btn-primary " data-toggle="modal" data-target="#New_orModal" data-booktitle="{{book.title}}" data-bookisbn="{{book.id}}" data-bookcopies="{{book.number_of_books}}">Order</button>
                        <p class="list-group-item-text"><h3>Written by {{book.publisher}}</h3></p>
                        
                </div><br/>
                </div>
            </li>
            


            {% endfor %}

            <!-- The Order Modal -->
           


            <div class="modal fade" id="New_orModal" role="dialog" tabindex="-1" role="dialog" aria-labelledby="New_orModalLabel">
                <div class="modal-dialog" role="document">
                
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="New_orModalLabel"></h4>
                    <h4 class="modal-title">Order the Book</h4>
                    </div>
                        <form action="/book/order/" method="POST" id="OrderForm"> {% csrf_token %}
                        <div class="modal-body"><h3><p id="hellobox"><strong><h3></h3></strong></p></h3>
                            <input id="order_copies" name="order_copies" value=""></input>
                           <h3> <p id="demoid"></p></h3>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" id="order_isbn" name="order_isbn"></input>
                            <input type="hidden" id="order_title" name="order_title"></input>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" name="order">Confirm</button>
                        </div>
                    </form>
                </div>
                
                </div>
            </div>

            <script type="text/javascript">

                

                $(document).on('show.bs.modal','#New_orModal', function (e) {
                var button =e.relatedTarget; 
                var book_title = button.getAttribute('data-booktitle')
                var book_isbn = button.getAttribute('data-bookisbn') 
                var book_copies = button.getAttribute('data-bookcopies') 
                var modal = $(this)
                modal.find('#hellobox').text('Placing Order for '+ book_title+' Please click Confirm Button')
                modal.find('#demoid').text('Available copies: '+ book_copies)
                document.getElementById("order_isbn").value=book_isbn
                document.getElementById("order_title").value=book_title



                });
            

            </script>

            <!--the update bookmodal-->

            <div class="modal fade" id="updatebookmodal" role="dialog" tabindex="-1" role="dialog" aria-labelledby="updatebookmodalLabel">
                <div class="modal-dialog" role="document">
                
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="updatebookmodalLabel"></h4>
                    <h4 class="modal-title">Update the Stock</h4>
                    </div>
                        <form action="/book/updatecopies/" method="POST" >
                         {% csrf_token %}
                        <div class="modal-body"><h3><p id="updatehell"><strong><h3></h3></strong></p></h3>
                            <input id="add_copies" name="add_copies" value=""></input>
                           <h3> <p id="addoid"></p></h3>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" id="u_isbn" name="u_isbn"></input>
                            <input type="hidden" id="u_title" name="u_title"></input>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" >Confirm</button>
                        </div>
                    </form>
                </div>
                
                </div>
            </div>

            <script type="text/javascript">

                

                $(document).on('show.bs.modal','#updatebookmodal', function (e) {
                var button =e.relatedTarget; 
                var book_title = button.getAttribute('data-booktitle')
                var book_isbn = button.getAttribute('data-bookisbn') 
                var book_copies = button.getAttribute('data-bookcopies') 

                var modal = $(this)
                modal.find('#updatehell').text('Adding Copies for this book '+ book_title+' Please click Confirm Button')
                document.getElementById("u_isbn").value=book_isbn



                });
            

            </script>
                

        
        {% else %}
        <h3>You don't have any books </h3>
    </div>
    {% endif %}
{% endblock %}